.emoji {
  img {
    width: 13rem;
    border-radius: 50%;
  }
}

@media screen and (max-width: 768px) {
  .emoji {
    img {
      width: 14rem;
    }
  }
}

@media screen and (min-width: 3000px) {
  .emoji {
    img {
      width: 19rem;
    }
  }
}
